

.intestazione {
    height:fit-content;
    background-color: rgb(105, 154, 170) ;
    color: white;
    padding: 20px;
    
}
.corpoPagina {
    background-color:white;
    color: black;
    padding: 20px;
}
.piePagina {
    background-color: darkgray;
    color: white;
    padding: 10px;
}
.navigatore {
    background-color: darkblue;
    
    display: inline;
    text-align: center;
   
   
}

.colonne {
    display: grid;
    grid-template-areas: "colonna1 colonna2 colonna3";
    grid-row: 2;
    
 
    grid-template-columns: 100px, 100px, 100px;
    
}
.secondaRiga1 {
    padding: 10px;
    background-color: darkseagreen;
}
.secondaRiga2 {
    padding: 10px;
    background-color: lightpink;
}
.secondaRiga3 {
     padding: 10px;
    background-color: lightslategrey;
}
.colonna3 {
    padding: 10px;
    background-color: darksalmon;
}
.colonna2 {
    padding: 10px;
    background-color: burlywood;
}

.colonna1 {
    padding: 10px;
    
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    padding: 10px;
    margin: 0;
    background-color: darkblue;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
a {
    color: white;
    padding: 10px;

}

a:hover {
    background-color: aquamarine;
}
 