body {
    background-color: lightcoral;
    align-items: center;
}
.navigatore {
    background-color: darkblue;
    color: white;
    
display: inline;
text-align: center;
}
ul {
    
        padding: 10px;
        margin: 0;
        background-color: darkblue;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        color: white;
    
}
a {
    color: white;
}
.card5, .card6 {
    margin: 10%;
    width: 20vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
}
.card4 {
    margin: 10%;
    width: 20vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
}
.card3 {
    margin: 10%;
    width: 20vw;
    height:10vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
}
.card2 {
    margin: 10%;
    width: 20vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
}

.card1 {
   
    
    align-items: center;
    margin: 10%;
    width: 20vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
}

.grigliaImmagini {
    display: grid;
    grid-template-areas: "card1 card2 card3";
    grid-row: 2;
    align-items: center;
    width: 100vw;
    
    
 
    
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
    width: 40vw;
    transition: 3s;

}
.modulo {
    width: 100vw;
    display: block;
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
}